{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %} 
{{ block.super}}


  
 <div class="container">
    <div class="row">
            {% for images in own_page %}
        <div class="col-md-4">
                {{images.title}}  
    <img src="{{images.image.url}}"class="image-responsive" width="350" style="height:200px;margin-top:20px">
</a>
</div> 


</div>

</div>         
<div class="row design">
        
    <div class="col-md-3">
            <h3>Content </h3><hr class="bg-default"><br><h4>{{content}}</h4>
        </div><br>
        <div class="col-md-3">
                <h3>Usability  </h3><hr class="bg-default"><br><h4>{{usability}}</h4>
        </div><br>
        <div class="col-md-3">
                <h3>Design</h3><hr class="bg-default"><br><h4>{{design}}</h4>
        </div>
</div>
        


<a href="{{images.link}}" class="btn btn-pink btn-md pull-right" target="_blank"><i class="far fa-chevron-double-right"></i></a>
<button class="btn btn-outline-info" type="button" data-target="#votesform" data-toggle="modal">Rating</button>
        <br> 
not typed
 <div class="modal fade" id="votesform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">

  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold" id="vote">Vote</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <div class="modal-body mx-3">
            <div class="form animated slideInDown">
                            <form action="{% url 'own_page' images.id %}"method="POST">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    <button class="btn btn-outline-info modal-footer d-flex justify-content-center" type="submit">Submit <i class="fas fa-paper-plane-o ml-1"></i> </button>
                            </form>
            </div>
  </div>

  </div>
</div>
</div>
</div>
<a href="{% url 'comment' images.id %}"><button class="btn btn-success">write your comment here</button></a> 
            <br>
{% endfor %}
  
     
     <div class="card comments">
            <div class="card-header">
                    <h4> Total Votes: {{all|length}} </h4>
            </div>
            <div class="list-group">
                    <ul class="list-group">
                            {%if all%}
                            <table id='comm' class="table">
                                    <th>Voters</th>
                                    <th>Rating</th>
                                    {%for one in all%}<tr> 
                                            <td> <img src="{{one.user.profile.profile_photo.url}}" alt="" width='30px' height="30px">  {{one.user}}</td>
                                            <td>
                                                    <div class="design">
                                                            <a href="" class="scores">{{one.design}}</a>
                                                            <a href="">{{one.usability}}</a>
                                                            <a class='b' href="">{{one.content}}</a>
                                                    </div>
                                            </td>
                                            {%endfor%}
                            </table>
                            {%else%}
                            <li class="list-group-item alert alert-info">No votes Available</li>
                            {%endif%}
                    </ul>
            </div>
    </div>
    
    <div>
            
    ggggggggggggggggggggggggg
   
         {% for com in image.comment_set.all %}
        <p>comment:{{com.comment}}</p>
        {% endfor %}
</body> 

<style>
    .d1{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius:50%;
    background-color: black;    
    }
.header{
  position: relative;
  width: 100%;
  height: auto;
  opacity:0.9;
} 

.title{
    position:absolute;
    top:50%;
    left:30%;
    transform: translate(-50%,-50%);
    color:white;
    font-size:50px;
    font-family:'Grand Hotel',cursive ;
}
.bt{
  position: absolute;
  bottom: 20px;
  left: 20px; 
}
</style>


 {% endblock %} 